*{
    box-sizing: border-box;
    font-size: 20px;
}

body{
    margin: 0;
    background-color: rgba(16,12,20,1);
    overflow-x: hidden;
}

.main-content{
    padding-left:6.5rem;
    color: grey;
}

@media(max-width: 1200px){
    .main-content{
        padding-left:0 !important;
    }
}

@media(max-width: 767px){
    .main-content{
        padding-left:0 !important;
    }
}

